:root {
    --html-background: #111111;
    --body-background: #335555;
    --node-color-0: #446666;
    --node-color-1: #eeeeee;
    --node-color-2: #dddddd;
    --node-color-3: #cccccc;
    --node-color-4: #bbbbbb;
    --node-color-5: #999999;
    --node-color-6: #888888;
    --node-color-7: #777777;
    --node-color-8: #555555;
    --node-color-9: #444444;
    --node-color-10: #333333;
    --node-color-11: #111111;
    --node-color-12: #000000;

    --form-checkbox-1-pos: 100px;
    --form-checkbox-2-pos: 300px;
    --form-checkbox-3-pos: 500px;
}

html {
    font-family: monospace;
    background: var(--html-background);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
body {
    outline: thick solid #cccccc;
    margin: 0;
    padding: 0;
    background: var(--body-background);
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main form {
	flex-direction: column;
	padding: 2rem 0;
	background: #222222;
}
main form label {
	display: flex;
	padding-bottom: .5rem;
	flex-direction: column;
	color: white;
	font-weight: bold;
}
body > aside {
    background: #111111;
    display: inline-flex;
    color: wheat;
    padding: 1rem;
    border: thin solid wheat;
}
main label {
	width: 15rem;
	text-align: center;
	display: flex;
	cursor: pointer;
	flex-direction: column;
}
main label span {
	padding: 1rem;
}
main label input[type=checkbox] {
	cursor: pointer;
	margin-bottom: 1rem;
}

svg {
    display: block;
}
line {
    stroke: #cccccc;
}
text {
	user-select: none;
	text-anchor: middle;
	font-family: monospace;
	white-space: pre;
}

.wordsonly :is(circle, rect, line) {
    fill: none;
    stroke: none;
}

#querymod-mode-container {
    display: none;
}
[data-mode=querymod] #querymod-mode-container {
    display: flex;
}
#change-parameters-form {
    position: absolute;
    top: 0;
    right: 0;
}

#node-mode-container {
    display: none;
}
[data-mode=node] #node-mode-container {
    display: flex;
}

#node-input-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #222222;
	color: white;
}
#node-input-container button {
    padding: .5rem;
    margin: .5rem 0;
}

#mode-selection-container {
	position: absolute;
	bottom: 0;
	right: 0;
}
#mode-selection-container label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controls {
    position: absolute;
    bottom: 4rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#controls label {
    color: white;
    font-weight: bold;
}
#controls .button-container {
    display: flex;
    flex-direction: column;
}
#controls button {
    padding: .5rem;
    font-size: 2rem;
    font-family: monospace;
}

#query-parameters {
    position: absolute;
    top: 0;
    left: 0;
}

textarea:placeholder-shown + #parse-spw {
    display: none;
}
textarea + #parse-spw {
    display: block;
    font-size: 2rem;
}
#spw-mode-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#spw-container {
    display: inline-flex;
    flex-direction: column;
}
#map-filter-form {
    position: absolute;
    left: 0;
    top: 50%;
    display: flex;
    flex-direction: column;
}
:is(#spw-container) {
    display: none;
}
[data-mode=spw] :is(#spw-container) {
    display: flex;
}
:is(#map-filter-form) {
    display: none;
}
[data-mode=direct] :is(#map-filter-form) {
    display: flex;
}

#show-keystroke-options {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    display: inline-flex;
    padding: 1rem;
    color: wheat;
    cursor: pointer;
    background: #222222;
    flex-direction: column;
    border: thin solid wheat;
}
#show-keystroke-options input {
    display: inline-flex;
}
#show-keystroke-options + #keystroke-options {
    display: none;
}
#show-keystroke-options:has(:checked) + #keystroke-options {
    display: flex;
    position: absolute;
}
#keystroke-options {
    position: absolute;
    bottom: 4rem;
    left: 0;
    padding: 0 2rem 1rem;
}
#keystroke-options ul {
    list-style: none;
    padding: 0;
}
#keystroke-options li {
    cursor: pointer;
    padding: .5rem;
}
#keystroke-options li:focus {background: #333;}
#keystroke-options kbd:before { content: '['; }
#keystroke-options kbd { padding-right: 1rem; }
#keystroke-options kbd:after { content: ']'; }
@media (max-width:600px) {
    kbd {
        display: none;
    }
}