html {
	font-family: monospace;
	background: #333;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
body {
	outline: thick solid green;
	margin: 0;
	padding: 0;
}
main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
svg {
	display: block;
	background: blue;
}
line {
	stroke: #ccc;
}
text {
	user-select: none;
	pointer-events: none;
	text-anchor: middle;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	fill: #ccc;
	stroke: #ccc;
}
#controls {
	position: absolute;
	bottom: 0;
	right: 0;
}
#controls button{
	padding: .5rem;
	font-size: 2rem;
}
#parameters {
	display: flex;
	flex-direction: column;
}
#parameters label {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	color: white;
	font-weight: bold;
	padding: .5rem;
	font-size: 1.5rem;
}
#parameters input {
	padding: .5rem;
	background: rgba(255,255,255, .1);
	font-weight: bold;
	font-family: monospace;
	color: white;
}
