:root {
    --node-color-0: #a8937b;
    --node-color-1: #343634;
    --node-color-2: #872424;
    --node-color-3: #0bb1a9;
    --node-color-4: #a8937b;
    --node-color-5: #29293f;
    --node-color-6: #ba6e0e;
    --node-color-7: #ac5050;
    --node-color-8: #6d822e;
    --node-color-9: #947494;
    --node-color-10: #aab033;
    --node-color-11: #996633;
    --node-color-12: #56789a;
}

[data-colorindex=spwashi-datum-0] { fill: var(--node-color-0); }
[data-colorindex=spwashi-datum-1] { fill: var(--node-color-1); }
[data-colorindex=spwashi-datum-2] { fill: var(--node-color-2); }
[data-colorindex=spwashi-datum-3] { fill: var(--node-color-3); }
[data-colorindex=spwashi-datum-4] { fill: var(--node-color-4); }
[data-colorindex=spwashi-datum-5] { fill: var(--node-color-5); }
[data-colorindex=spwashi-datum-6] { fill: var(--node-color-6); }
[data-colorindex=spwashi-datum-7] { fill: var(--node-color-7); }
[data-colorindex=spwashi-datum-8] { fill: var(--node-color-8); }
[data-colorindex=spwashi-datum-9] { fill: var(--node-color-9); }
[data-colorindex=spwashi-datum-10] { fill: var(--node-color-10); }
[data-colorindex=spwashi-datum-11] { fill: var(--node-color-11); }
[data-colorindex=spwashi-datum-12] { fill: var(--node-color-12); }

[data-actionindex=spwashi-action-0] { background: var(--accent-color-main); }
[data-actionindex=spwashi-action-1] { background: var(--accent-color-main); }
[data-actionindex=spwashi-action-2] { background: var(--accent-color-main); }
[data-actionindex=spwashi-action-3] { background: var(--accent-color-main); }
[data-actionindex=spwashi-action-4] { background: var(--accent-color-main); }
[data-actionindex=spwashi-action-5] { background: var(--accent-color-main); }
[data-actionindex=spwashi-action-6] { background: var(--accent-color-main); }
[data-actionindex=spwashi-action-7] { background: var(--accent-color-main); }
[data-actionindex=spwashi-action-8] { background: var(--accent-color-main); }
[data-actionindex=spwashi-action-9] { background: var(--accent-color-main); }
[data-actionindex=spwashi-action-10] { background: var(--accent-color-main); }
[data-actionindex=spwashi-action-11] { background: var(--accent-color-main); }
[data-actionindex=spwashi-action-12] { background: var(--accent-color-main); }
[data-actionindex=spwashi-action-13] { background: var(--accent-color-main); }
[data-actionindex=spwashi-action-14] { background: var(--accent-color-main); }
[data-actionindex=spwashi-action-15] { background: var(--accent-color-main); }

body [data-dataindex=spwashi-datum-0] { background: var(--node-color-0); }
body [data-dataindex=spwashi-datum-1] { background: var(--node-color-1); }
body [data-dataindex=spwashi-datum-2] { background: var(--node-color-2); }
body [data-dataindex=spwashi-datum-3] { background: var(--node-color-3); }
body [data-dataindex=spwashi-datum-4] { background: var(--node-color-4); }
body [data-dataindex=spwashi-datum-5] { background: var(--node-color-5); }
body [data-dataindex=spwashi-datum-6] { background: var(--node-color-6); }
body [data-dataindex=spwashi-datum-7] { background: var(--node-color-7); }
body [data-dataindex=spwashi-datum-8] { background: var(--node-color-8); }
body [data-dataindex=spwashi-datum-9] { background: var(--node-color-9); }
body [data-dataindex=spwashi-datum-10] { background: var(--node-color-10); }
body [data-dataindex=spwashi-datum-11] { background: var(--node-color-11); }
body [data-dataindex=spwashi-datum-12] { background: var(--node-color-12); }

html:has(body[data-dataindex=spwashi-datum-0])  body { outline: 1rem solid var(--node-color-0); }
html:has(body[data-dataindex=spwashi-datum-1])  body { outline: 1rem solid var(--node-color-1); }
html:has(body[data-dataindex=spwashi-datum-2])  body { outline: 1rem solid var(--node-color-2); }
html:has(body[data-dataindex=spwashi-datum-3])  body { outline: 1rem solid var(--node-color-3); }
html:has(body[data-dataindex=spwashi-datum-4])  body { outline: 1rem solid var(--node-color-4); }
html:has(body[data-dataindex=spwashi-datum-5])  body { outline: 1rem solid var(--node-color-5); }
html:has(body[data-dataindex=spwashi-datum-6])  body { outline: 1rem solid var(--node-color-6); }
html:has(body[data-dataindex=spwashi-datum-7])  body { outline: 1rem solid var(--node-color-7); }
html:has(body[data-dataindex=spwashi-datum-8])  body { outline: 1rem solid var(--node-color-8); }
html:has(body[data-dataindex=spwashi-datum-9])  body { outline: 1rem solid var(--node-color-9); }
html:has(body[data-dataindex=spwashi-datum-10]) body { outline: 1rem solid var(--node-color-10); }
html:has(body[data-dataindex=spwashi-datum-11]) body { outline: 1rem solid var(--node-color-11); }
html:has(body[data-dataindex=spwashi-datum-12]) body { outline: 1rem solid var(--node-color-12); }

[data-dataindex=spwashi-datum-0] svg [data-colorindex=spwashi-datum-0] { stroke: red; stroke-width: 3px;}
[data-dataindex=spwashi-datum-1] svg [data-colorindex=spwashi-datum-1] { stroke: red; stroke-width: 3px;}
[data-dataindex=spwashi-datum-2] svg [data-colorindex=spwashi-datum-2] { stroke: red; stroke-width: 3px;}
[data-dataindex=spwashi-datum-3] svg [data-colorindex=spwashi-datum-3] { stroke: red; stroke-width: 3px;}
[data-dataindex=spwashi-datum-4] svg [data-colorindex=spwashi-datum-4] { stroke: red; stroke-width: 3px;}
[data-dataindex=spwashi-datum-5] svg [data-colorindex=spwashi-datum-5] { stroke: red; stroke-width: 3px;}
[data-dataindex=spwashi-datum-6] svg [data-colorindex=spwashi-datum-6] { stroke: red; stroke-width: 3px;}
[data-dataindex=spwashi-datum-7] svg [data-colorindex=spwashi-datum-7] { stroke: red; stroke-width: 3px;}
[data-dataindex=spwashi-datum-8] svg [data-colorindex=spwashi-datum-8] { stroke: red; stroke-width: 3px;}
[data-dataindex=spwashi-datum-9] svg [data-colorindex=spwashi-datum-9] { stroke: red; stroke-width: 3px;}
[data-dataindex=spwashi-datum-10] svg [data-colorindex=spwashi-datum-10] { stroke: red; stroke-width: 3px;}
[data-dataindex=spwashi-datum-11] svg [data-colorindex=spwashi-datum-11] { stroke: red; stroke-width: 3px;}
[data-dataindex=spwashi-datum-12] svg [data-colorindex=spwashi-datum-12] { stroke: red; stroke-width: 3px;}

[data-colorindex=spwashi-stroke-0] { stroke: var(--node-color-0); stroke-width: 3px;}
[data-colorindex=spwashi-stroke-1] { stroke: var(--node-color-1); stroke-width: 3px;}
[data-colorindex=spwashi-stroke-2] { stroke: var(--node-color-2); stroke-width: 3px;}
[data-colorindex=spwashi-stroke-3] { stroke: var(--node-color-3); stroke-width: 3px;}
[data-colorindex=spwashi-stroke-4] { stroke: var(--node-color-4); stroke-width: 3px;}
[data-colorindex=spwashi-stroke-5] { stroke: var(--node-color-5); stroke-width: 3px;}
[data-colorindex=spwashi-stroke-6] { stroke: var(--node-color-6); stroke-width: 3px;}
[data-colorindex=spwashi-stroke-7] { stroke: var(--node-color-7); stroke-width: 3px;}
[data-colorindex=spwashi-stroke-8] { stroke: var(--node-color-8); stroke-width: 3px;}
[data-colorindex=spwashi-stroke-9] { stroke: var(--node-color-9); stroke-width: 3px;}
[data-colorindex=spwashi-stroke-10] { stroke: var(--node-color-10); stroke-width: 3px;}
[data-colorindex=spwashi-stroke-11] { stroke: var(--node-color-11); stroke-width: 3px;}
[data-colorindex=spwashi-stroke-12] { stroke: var(--node-color-12); stroke-width: 3px;}

[data-dataindex=spwashi-datum-0] #colors [data-dataindex=spwashi-datum-0] { outline: thick solid red; }
[data-dataindex=spwashi-datum-1] #colors [data-dataindex=spwashi-datum-1] { outline: thick solid red; }
[data-dataindex=spwashi-datum-2] #colors [data-dataindex=spwashi-datum-2] { outline: thick solid red; }
[data-dataindex=spwashi-datum-3] #colors [data-dataindex=spwashi-datum-3] { outline: thick solid red; }
[data-dataindex=spwashi-datum-4] #colors [data-dataindex=spwashi-datum-4] { outline: thick solid red; }
[data-dataindex=spwashi-datum-5] #colors [data-dataindex=spwashi-datum-5] { outline: thick solid red; }
[data-dataindex=spwashi-datum-6] #colors [data-dataindex=spwashi-datum-6] { outline: thick solid red; }
[data-dataindex=spwashi-datum-7] #colors [data-dataindex=spwashi-datum-7] { outline: thick solid red; }
[data-dataindex=spwashi-datum-8] #colors [data-dataindex=spwashi-datum-8] { outline: thick solid red; }
[data-dataindex=spwashi-datum-9] #colors [data-dataindex=spwashi-datum-9] { outline: thick solid red; }
[data-dataindex=spwashi-datum-10] #colors [data-dataindex=spwashi-datum-10] { outline: thick solid red; }
[data-dataindex=spwashi-datum-11] #colors [data-dataindex=spwashi-datum-11] { outline: thick solid red; }
[data-dataindex=spwashi-datum-12] #colors [data-dataindex=spwashi-datum-12] { outline: thick solid red; }

