@use "sass:color";

body[data-site-name="factshift.com"] {}
body[data-site-name="boon.land"] { --accent-color-main: #0bb1a9; --standard-outline: #0bb1a9; }
body[data-site-name="bane.land"] { --accent-color-main: #daa520; --standard-outline: #daa520; }
body[data-site-name="bone.land"] { --accent-color-main: #cccccc; --standard-outline: #cccccc; }
body[data-site-name="bonk.land"] { --accent-color-main: #62628c; --standard-outline: #62628c; }
body[data-site-name="honk.land"] { --accent-color-main: #815d88; --standard-outline: #c373d3; }
body[data-site-name="boof.land"] { --accent-color-main: #56789a; --standard-outline: #56789a; }
body[data-site-name="lore.land"] { --accent-color-main: #089892; --standard-outline: #089892; }
body[data-site-name="localhost"] { --accent-color-main: #809980; --standard-outline: #809980; }

html:has(body[data-site-name="boon.land"]) { --html-background: #{color.scale(#0bb1a9, $lightness: -50%)} }
html:has(body[data-site-name="bane.land"]) { --html-background: #{color.scale(#daa520, $lightness: -50%)} }
html:has(body[data-site-name="bone.land"]) { --html-background: #{color.scale(#cccccc, $lightness: -50%)} }
html:has(body[data-site-name="bonk.land"]) { --html-background: #{color.scale(#62628c, $lightness: -50%)} }
html:has(body[data-site-name="honk.land"]) { --html-background: #{color.scale(#62628c, $lightness: -50%)} }
html:has(body[data-site-name="boof.land"]) { --html-background: #{color.scale(#56789a, $lightness: -50%)} }
html:has(body[data-site-name="lore.land"]) { --html-background: #{color.scale(#089892, $lightness: -50%)} }
html:has(body[data-site-name="localhost"]) { --html-background: #{color.scale(#809980, $lightness: -50%)} }
