body[data-site-name="factshift.com"] {}
body[data-site-name="boon.land"] { h1 {color: #0bb1a9;} }
body[data-site-name="bane.land"] { h1 {color: goldenrod;} }
body[data-site-name="bone.land"] {}
body[data-site-name="bonk.land"] {}
body[data-site-name="honk.land"] {}
body[data-site-name="boof.land"] {}
body[data-site-name="lore.land"] {}
body[data-site-name="localhost"] { h1 {color: white;} }
