svg {
  display: block;
  overflow: visible;
}
line {
  stroke: var(--link-stroke-color);
}
text {
  user-select: none;
  font-family: monospace;
  white-space: pre;
  fill: black;
  --text-color: white;
}
circle {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
}
[data-displaymode=nodes] :is(text, line) {
  display: none;
}
[data-displaymode=words] :is(circle, line) {
  display: none;
}
:is([data-displaymode^=edges], [data-displaymode$=edges]) :is(circle, text) {
  display: none;
}
:is([data-displaymode^=nodes], [data-displaymode$=nodes]) :is(circle) {
  display: unset;
}
:is([data-displaymode^=edges], [data-displaymode$=edges]) :is(line) {
  display: unset;
}