#focal-square {
  position: absolute;
  top: calc(var(--focal-y) - 1rem);
  left: calc(var(--focal-x) - 1rem);
  width: 2rem;
  height: 2rem;
  border: thin solid var(--accent-color-main);
  z-index: 1;
  background: rgba(245, 222, 179, .1);
}
#focal-square[data-focal-status=active] {
  background: rgba(245, 222, 179, .2);
}
#focal-square:disabled, #focal-square[data-focal-status=inactive] {
  animation: none;
  background: none;
  border: none;
}