button {
  &.disable-sounds {
    display: none;
  }
}
body[data-sounds=on] {
  button {
    &.enable-sounds {
      display: none;
    }
    &.disable-sounds {
      display: block;
      border: thin solid var(--standard-outline);
    }
  }
}
:is(.enable-sounds, .disable-sounds):focus {
  outline: thick solid var(--accent-color-main);
}
.enable-sounds, .disable-sounds {
  background: #222;
  color: var(--accent-color-main);
  padding: 1rem;
  margin: 1rem;
  line-height: 1;
  font-size: 2rem;
  outline: thin solid var(--accent-color-main);
  font-family: monospace;
  cursor: pointer;
  border: thin solid var(--standard-outline);
  position: absolute;
  bottom: 0;
  left: 0;
}