:root {
    --node-color-0: #014e4e;
    --node-color-1: #025655;
    --node-color-2: #035f5d;
    --node-color-3: #036764;
    --node-color-4: #046f6c;
    --node-color-5: #057774;
    --node-color-6: #06807b;
    --node-color-7: #078883;
    --node-color-8: #08908b;
    --node-color-9: #089892;
    --node-color-10: #09a19a;
    --node-color-11: #0aa9a1;
    --node-color-12: #0bb1a9;
}