.card {
  display: flex;
  flex-direction: column;
  background: var(--form-background);
  color: var(--mainmenu-text-color);
  .button-container {
    display: flex;
    flex-direction: row;
  }
}
.card-header {
  text-align: center;
  border-bottom: thin solid var(--standard-outline);
}
.card-body {
  padding: 1rem;
  display: inline;
}