html {
  font-family: monospace;
  background: var(--html-background);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: var(--body-background);
  box-shadow: inset #222 0 0 .5rem;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}