:root {
    --html-background: #4c1d1d;
    --body-background: #707070;
    --form-background: #222222;
    --mainmenu-background: #222222;
    --mainmenu-text-color: wheat;

    --standard-outline: wheat;

    --has-focus-outline: wheat;
    --is-focus-outline: rgba(33, 33, 33, .3);


    --link-stroke-color: rgba(127, 255, 255, .3);

    --node-input-container-background: #222222;
    --show-keystroke-options-background: #222222;
    --keystroke-options-hover-background: #333333;
    --keystroke-options-border: #222222;
    --spw-container-text-color: white;

    --focal-x: 0;
    --focal-y: 0;
    --focal-y-basis: 100vh;
}

html {
    font-family: monospace;
    background: var(--html-background);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    background: var(--body-background);
    box-shadow: inset #222222 0 0 .5rem;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    background: var(--form-background);
}
h1 {
    position: fixed;
    top: 0;
    right: 0;
    background: #222222;
    color: wheat;
    padding: 1rem;
    margin: 1rem;
    line-height: 1;
    font-size: 2rem;
    outline: wheat thin solid;
}
h1:focus {
    outline: thick solid wheat;
}
#h1-input {
    background: #222222;
    color: wheat;
    padding: 1rem;
    margin: 1rem;
    line-height: 1;
    font-size: 2rem;
    outline: wheat thin solid;
    font-family: monospace;
}
#h1-input + button {
    background: #222222;
    color: wheat;
    padding: 1rem;
    margin: 1rem;
    line-height: 1;
    font-size: 2rem;
    outline: wheat thin solid;
    font-family: monospace;
}
#h1-input:focus,
#h1-input + button:focus {
    outline: thick solid wheat;
}
body > aside {
    position: absolute;
    bottom: 0;
    left: 0;
}
body > aside > * {
    /*padding: 1rem;*/
}
label {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    padding-bottom: .5rem;
    color: var(--spw-container-text-color);
    font-weight: bold;
}
label span {
    padding: 1rem;
}
label input[type=checkbox] {
    cursor: pointer;
    margin-bottom: 1rem;
}
svg {
    display: block;
    overflow: visible;
}
line {
    stroke: var(--link-stroke-color);
}
text {
    user-select: none;
    /*pointer-events: none;*/
    font-family: monospace;
    white-space: pre;
}
#main-image-container {
    position: absolute;
    bottom: 0;
    right: 0;
}
#main-image-container img{
    max-width: 20rem;
    max-height: 20rem;
    border: thin solid wheat;
}
#focal-square {
    position: absolute;
    top: calc(var(--focal-y) - 1rem);
    left: calc(var(--focal-x) - 1rem);
    width: 2rem;
    height: 2rem;
    border: thin solid wheat;
    z-index: 1;
    background: rgba(245, 222, 179, .1);
}
#focal-square[data-focal-status=active] {
    background: rgba(245, 222, 179, .2);
}
#focal-square:disabled {
    animation: none;
    background: none;
    border: none;
}

aside :is(:focus) {
    outline: thin solid var(--is-focus-outline);
}
aside > section :has(:focus) {
    outline: thin solid var(--has-focus-outline);
}


#node-input-container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: var(--node-input-container-background);
    color: var(--mainmenu-text-color);
    padding: 1rem;
}
#node-input-container:focus {
}
#node-input-container button {
    padding: .5rem;
    margin: .5rem 0;
}
#node-input-container label {
    color: var(--mainmenu-text-color);
    margin-bottom: 1rem;
}
#node-input-container label span {
    padding: 0;
}
#controls {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#controls label {
    color: var(--mainmenu-text-color);
    font-weight: bold;
}
#controls .button-container {
    display: flex;
    flex-direction: column;
}
#controls button {
    padding: .5rem;
    font-family: monospace;
}

#events-log {
    display: flex;
    flex-direction: column;
}
#main-log {
    position: absolute;
    top: 0;
    right: 10rem;
    background: rgba(127, 137, 137, .9);

}
#main-log details {
    max-width: 25rem;
    overflow: scroll;
}
#main-log summary {
    cursor: pointer;
    padding: 1rem;
    white-space: nowrap;
    list-style: none;
    display: inline-block;
}

/* Mode Containers */
#spw-mode-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--spw-container-text-color);
    background: #222222;
    padding: 1rem;
    position: absolute;
}
#spw-mode-container button {
    padding: 1rem;
    margin: .5rem;
    font-family: monospace;
    cursor: pointer;
    border: thin solid var(--standard-outline);
    background: var(--mainmenu-background);
    color: var(--mainmenu-text-color);
}
#spw-mode-container button:is(:focus) {
    outline: thick solid var(--mainmenu-text-color);
}
#spw-parse-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 13rem;
    font-size: 2rem;
    overflow: visible;
    width: 35rem;
    color: var(--mainmenu-text-color);
    background: #222222;
    padding: 2rem;
}
#spw-parse-field:focus {
    outline: thin solid wheat;
}
#color-mode-container {
    display: none;
}
#colors {
    margin: 1rem;
    border: thin solid var(--standard-outline);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#colors :nth-child(7) {
    grid-column: 5 / 3;
}
#colors .color {
    width: 5rem;
    height: 5rem;
}
#colors :is(:focus) {
    outline: thick solid var(--mainmenu-text-color);
}
#colors :is(:focus):before {
    content: 'X';
    font-weight: bold;
    color: white;
    font-size: 3rem;
}
#reflex-mode-container {
    display: none;
}
#reflexes {
    margin: 1rem;
    border: thin solid var(--standard-outline);
    display: flex;
    flex-direction: column-reverse;
}
#reflexes .card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#reflexes button {
    --outline: var(--standard-outline);
    cursor: pointer;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    margin: .2rem;
    border: thin solid var(--outline);;
    font-family: monospace;
}
#reflexes button:before {
    content: attr(data-reflex);
}
#reflexes button:is(:focus) {
    outline: thick solid var(--mainmenu-text-color);
}
#reflexes button:not(:focus) {
    background: var(--mainmenu-background);
    color: var(--mainmenu-text-color);
}
#querymod-mode-container {
    display: none;
    position: absolute;
}
#query-parameters {
    width: 20rem;
}
#query-parameters textarea {
    white-space: nowrap;
}
#node-mode-container {
    display: none;
    position: absolute;
}
#debug-mode-container {
    display: none;
    position: absolute;
}
#main-log {
    display: none;
}
#output {
    white-space: pre;
}
#story-mode-container {
    display: none;
    position: absolute;
    bottom: 0;
    height: 5rem;
}
#story-mode-container .button-container {
    padding: .5rem;
    display: flex;
    flex-direction: row;
}
#story-mode-container .button-container button {
    padding: 1rem;
    margin: .5rem;
    font-family: monospace;
    cursor: pointer;
    border: thin solid var(--standard-outline);
    background: var(--mainmenu-background);
    color: var(--mainmenu-text-color);
}
#change-parameters-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
#change-parameters-form > label > input {
    width: 7rem;
    text-align: center;
    font-size: 2rem;
    background: #444444;
    border: thin solid #555555;
    padding: 1rem;
    color: white;
    font-family: monospace;
}
#change-parameters-form > label {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: wheat;
}
#change-parameters-form button {
    padding: 1rem;
    margin: .5rem;
    font-family: monospace;
    cursor: pointer;
    border: thin solid var(--standard-outline);
    background: var(--mainmenu-background);
    color: var(--mainmenu-text-color);
}
#map-mode-container {
    display: none;
}
#filter-mode-container {
    display: none;
}

[data-displaymode=nodes] :is(text, line) {
    display: none;
}
[data-displaymode=words] :is(circle, line) {
    display: none;
}
:is([data-displaymode^=edges], [data-displaymode$=edges]) :is(circle, text) {
    display: none;
}

:is([data-displaymode^=nodes], [data-displaymode$=nodes]) :is(circle) {
    display: unset;
}
:is([data-displaymode^=edges], [data-displaymode$=edges]) :is(line) {
    display: unset;
}


/* Mode Containers: in use */
[data-mode=node] [data-mode-action=node],
[data-mode=color] [data-mode-action=color],
[data-mode=spw] [data-mode-action=spw],
[data-mode=filter] [data-mode-action=filter],
[data-mode=map] [data-mode-action=map],
[data-mode=color] [data-mode-action=color],
[data-mode=reflex] [data-mode-action=reflex],
[data-mode=query] [data-mode-action=query],
[data-mode=story] [data-mode-action=story],
[data-mode=debug] [data-mode-action=debug] {
    outline: thick solid #222222;
    background: wheat;
    display: flex;
}


[data-mode=debug] :is(#debug-mode-container, #main-log) {
    display: flex;
}
[data-mode=color] #color-mode-container {
    display: flex;
}
[data-mode=reflex] #reflex-mode-container {
    display: flex;
}
[data-mode=query] #querymod-mode-container {
    display: flex;
}
[data-mode=node] #node-mode-container {
    display: flex;
    align-items: start;
    margin-left: 1rem;
}
[data-mode=spw] :is(#spw-mode-container) {
    display: flex;
}
[data-mode=story] #story-mode-container {
    display: flex;
}
[data-mode=map] #map-mode-container,
[data-mode=filter] #filter-mode-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
:is(#map-mode-container, #filter-mode-container) {
    background-color: #222222;
    padding: 1rem;
    margin: 2rem;
}
:is(#map-mode-container, #filter-mode-container) button:focus {
    outline: thick solid var(--mainmenu-text-color);
}
:is(#map-mode-container, #filter-mode-container) button {
    padding: 1rem;
    margin: 1rem 0 0 0;
    font-family: monospace;
    cursor: pointer;
    border: thin solid var(--standard-outline);
    background: var(--mainmenu-background);
    color: var(--mainmenu-text-color);
}

#mode-container {
    display: flex;
    position: absolute;
    height: 5rem;
    width: 5rem;
    outline: thin solid rgba(245, 222, 179, .1);
    bottom: calc(var(--focal-y-basis) - var(--focal-y));
    left: var(--focal-x);
}
#mode-container > section {
    position: absolute;
    bottom: 0;
}


#hotkey-container {
    width: 5rem;
    height: 4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0 1rem;
    line-height: 1.5rem;
    justify-content: center;
    align-items: center;
}

#hotkey-menu-toggle {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #222222;
    color: wheat;
    border: thin solid var(--standard-outline);
    padding: 0rem;
    width: 6rem;
    height: 4rem;
    line-height: 1.5rem;
    font-family: monospace;
}
#hotkey-menu-toggle:focus,
#mainmenu-toggle:focus {
    border: thick solid wheat;
}
#mainmenu-toggle {
    position: absolute;
    bottom: 5rem;
    left: 0;
    background: #222222;
    color: wheat;
    border: thin solid var(--standard-outline);
    padding: 0rem;
    width: 6rem;
    height: 4rem;
    line-height: 1.5rem;
    font-family: monospace;
}

#keystroke-options button {
    padding: .5rem;
    margin: 0;
    border: none;
    background: none;
    color: var(--mainmenu-text-color);
    outline: thin solid var(--standard-outline);
    cursor: pointer;
}
#keystroke-options {
    padding: 0 2rem 1rem;
    background: var(--show-keystroke-options-background);
    position: absolute;
    bottom: 0;
    left: 100%;
    color: rgba(245, 222, 179, 0.3);
}
#keystroke-options ul {
    list-style: none;
    padding: 0;
}
#keystroke-options li kbd {
    flex: 0 1;
}
#keystroke-options li span {
    flex: 1 0;
}
#keystroke-options li .ctg {
    font-size: .7rem;
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}
#keystroke-options li :is(span, kbd) {
}
#keystroke-options li {
    overflow: hidden;
    white-space: pre;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: .5rem;
}
#keystroke-options button {
    font-weight: bold;
    transition: background-color .1s;
}
#keystroke-options button:hover {
    background: rgba(245, 222, 179, 0.3);
}
#keystroke-options button:focus {
    background: wheat;
    color: #222222;
}
#keystroke-options li:focus, #keystroke-options li:has(button:hover) {
    background: var(--keystroke-options-hover-background);
}
#keystroke-options kbd:before {
    content: '';
}
#keystroke-options kbd strong {
    color: white;
}
#keystroke-options kbd {
    padding-left: 1rem;
    margin-left: 1rem;
    color: #777777;
    border-left: thin solid var(--standard-outline);
}
#keystroke-options kbd:after {
    content: '';
}

.editor-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
    margin: 1rem;
}
.code-editor {
    font-size: 1.5rem;
    width: 30rem;
    padding: 1rem;
    height: 13rem;
}

label[for=mode-selector],
#mode-selector {
    display: none !important;
}


#mainmenu-shortcuts ol {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
}
#mainmenu-shortcuts li:has([aria-selected="true"]):before {
    color: #222222;
}
#mainmenu-shortcuts li:before {
    color: wheat;
    margin: 0 1rem;
    content: counter(item);
    border-radius: 100%;
    width: 1.2em;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
}
#mainmenu-shortcuts ol > li > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border: thin solid var(--standard-outline);
    background: var(--mainmenu-background);
    color: var(--mainmenu-text-color);
    cursor: pointer;
    font-family: monospace;
}
#mainmenu-shortcuts ol > li > button:focus {
    border: .5rem solid var(--mainmenu-text-color);
    z-index: 2;
}
#mainmenu-shortcuts {
    position: absolute;
    top: 0;
    left: 0;
}

body:not([data-debug=debug]) g.rects {
    display: none;
}

#main-wonder-button:active,
#main-wonder-button:focus {
    outline: thick solid wheat;
}
#main-wonder-button {
    position: absolute;
    top: 0;
    right: 0;
    background: #222222;
    color: wheat;
    border: thin solid var(--standard-outline);
    padding: 0rem;
    width: 6rem;
    height: 4rem;
    line-height: 1.5rem;
    font-family: monospace;
}
[data-interface-depth="main-menu"] #mainmenu-shortcuts ol {
    counter-reset: item;
}
[data-interface-depth="main-menu"] #mainmenu-shortcuts li {
    counter-increment: item;
}
[data-interface-depth="standard"] #mainmenu-shortcuts li:before {
    content: none;
}
[data-interface-depth="minimalism"] #mainmenu-toggle {
    display: none;
}
[data-interface-depth="minimalism"] #hotkey-menu-toggle {
    display: none;
}
[data-interface-element="main-menu"], [data-interface-element="hotkey-menu"] {
    display: none;
}
body[data-interface-depth="main-menu"] [data-interface-element="main-menu"],
body[data-interface-depth="hotkey-menu"] [data-interface-element="hotkey-menu"] {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    background: var(--form-background);
    color: var(--mainmenu-text-color);
}
.card-header {
    text-align: center;
    border-bottom: thin solid var(--standard-outline);
}
.card-body {
    padding: 1rem;
    display: inline;
}
.card .button-container {
    display: flex;
    flex-direction: row;
}

.consent-to-engage {
    outline: thick solid #222222;
}
.consented-to-engage {
    outline: thick solid #555555;
}

@media (max-width: 600px) {
    #main-log {
        display: none;
    }
    #mode-selector option:is([value=debug], [value=query], [value=node], [value=map], [value=filter]) {
        display: none;
    }
    kbd {
        display: none;
    }
    #mainmenu-shortcuts button {
        padding: .2rem;
        width: 3rem;
        height: 3rem;
    }
    #mainmenu-shortcuts li:before {
        content: none;
    }
    #reflexes button {
        text-align: center;
        width: 4rem;
        height: 4rem;
        font-size: .85rem;
        padding: .5rem
    }
    #spw-parse-field {
        font-size: 1.5rem;
        width: 20rem;
        height: 10rem;
    }
}