:root {
    --html-background: #818181;
    --body-background: #95b6b6;
    --form-background: #222222;
    --aside-background: #222222;
    --aside-text-color: wheat;

    --body-outline: wheat;

    --node-color-0: #446666;
    --node-color-1: #2ea37a;
    --node-color-2: #872424;
    --node-color-3: #0bb1a9;
    --node-color-4: #a8937b;
    --node-color-5: #29293f;
    --node-color-6: #ba6e0e;
    --node-color-7: #777777;
    --node-color-8: #555555;
    --node-color-9: #947494;
    --node-color-10: #aab033;
    --node-color-11: #996633;
    --node-color-12: #56789a;

    --link-stroke-color: black;

    --node-input-container-background: #222222;
    --show-keystroke-options-background: #222222;
    --keystroke-options-hover-background: #333333;
    --keystroke-options-border: #222222;
    --spw-container-text-color: white;
}
#colors {
    position: absolute;
    top: 0;
    right: 0;
}
#colors .color {
    width: 5rem;
    height: 5rem;
}

#main-button-container {
    position: absolute;
    top: 0;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
#main-button-container > button:hover, #main-button-container > button:focus     {
    border: thin solid var(--body-outline);
    background: var(--aside-background);
    color: var(--aside-text-color);
    cursor: pointer;
}
#main-button-container > button {
    font-size: 1rem;
    padding: 1rem;
    margin: .5rem;
    border: thin solid transparent;;
    font-family: monospace;
}
#main-log {
    position: absolute;
    top: 33%;
    right: 15%;
}

html {
    font-family: monospace;
    background: var(--html-background);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
body {
    outline: thin solid var(--body-outline);
    margin: 0;
    padding: 0;
    background: var(--body-background);
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main form {
    flex-direction: column;
    padding: 2rem 0;
    background: var(--form-background);
}
main form label {
    display: flex;
    padding-bottom: .5rem;
    flex-direction: column;
    color: var(--spw-container-text-color);
    font-weight: bold;
}
body > aside {
    background: var(--aside-background);
    display: inline-flex;
    color: var(--aside-text-color);
    padding: 1rem;
    border: thin solid var(--body-outline);
}
main label {
    width: 15rem;
    text-align: center;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}
main label span {
    padding: 1rem;
}
main label input[type=checkbox] {
    cursor: pointer;
    margin-bottom: 1rem;
}

svg {
    display: block;
    overflow: visible;
}
line {
    stroke: var(--link-stroke-color);
}
text {
    user-select: none;
    font-family: monospace;
    white-space: pre;
}

[data-displaymode=nodes] :is(.rects, text, #show-keystroke-options, line) {
    display: none;
}
[data-displaymode=words] :is(.rects, .nodes :is(circle, rect), line) {
    display: none;
}
[data-displaymode=edges] :is(.rects, .nodes :is(circle, rect), text) {
    display: none;
}

#querymod-mode-container {
    display: none;
}
[data-mode=query] #querymod-mode-container {
    display: flex;
}
#change-parameters-form {
    position: absolute;
    top: 0;
    right: 0;
}

#node-mode-container {
    display: none;
}
[data-mode=node] #node-mode-container {
    display: flex;
}

#node-input-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: var(--node-input-container-background);
    color: var(--aside-text-color);
}
#node-input-container button {
    padding: .5rem;
    margin: .5rem 0;
}

#mode-selection-container {
    position: absolute;
    bottom: 0;
    right: 0;
}
#mode-selection-container label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controls {
    position: absolute;
    bottom: 4rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#controls label {
    color: var(--aside-text-color);
    font-weight: bold;
}
#controls .button-container {
    display: flex;
    flex-direction: column;
}
#controls button {
    padding: .5rem;
    font-size: 2rem;
    font-family: monospace;
}

#query-parameters {
    position: absolute;
    top: 0;
    left: 0;
}

textarea:placeholder-shown + #parse-spw {
    display: none;
}
textarea + #parse-spw {
    display: block;
    font-size: 2rem;
}
#spw-mode-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#spw-container {
    display: inline-flex;
    flex-direction: column;
    color: var(--spw-container-text-color);
}
#spw-parse-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 13rem;
    font-size: 2rem;
    overflow: visible;
    width: 50vw;
}
#map-filter-form {
    position: absolute;
    right: 1rem;
    top: 25%;
    display: flex;
    flex-direction: column;
    width: 25rem;
}
.editor-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}
.code-editor {
    bottom: 0;
    width: 20rem;
    padding: 1rem;
    height: 5rem;
}
.checked-enabler + .code-editor {
    display: none;
}
.checked-enabler:checked + .code-editor {
    display: block;
}
:is(#spw-container) {
    display: none;
}


[data-mode=spw] :is(#spw-container) {
    display: flex;
}
:is(#map-filter-form) {
    display: none;
}
[data-mode=direct] :is(#map-filter-form) {
    display: flex;
}

[data-mode=map] :is(#node-mapper-enabler, #map-filter-form .editor-wrapper:not(:has(#node-mapper))),
[data-mode=filter] :is(#node-mapper-enabler, #map-filter-form .editor-wrapper:not(:has(#node-filter))) {
    display: none;
}
[data-mode=map] :is(#map-filter-form, #node-mapper, .code-editor),
[data-mode=filter] :is(#map-filter-form, #node-filter, .code-editor) {
    display: flex !important;
}

#show-keystroke-options {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    display: inline-flex;
    padding: 1rem;
    color: var(--aside-text-color);
    cursor: pointer;
    background: var(--show-keystroke-options-background);
    flex-direction: column;
    border: thin solid var(--keystroke-options-border);
}
#show-keystroke-options input {
    display: inline-flex;
}
#show-keystroke-options + #keystroke-options {
    display: none;
}
#show-keystroke-options:has(:checked) + #keystroke-options {
    display: flex;
    position: absolute;
}
#keystroke-options {
    position: absolute;
    bottom: 4rem;
    left: 0;
    padding: 0 2rem 1rem;
}
#keystroke-options ul {
    list-style: none;
    padding: 0;
}
#keystroke-options li {
    cursor: pointer;
    padding: .5rem;
}
#keystroke-options li:focus, #keystroke-options li:hover {
    background: var(--keystroke-options-hover-background);
}
#keystroke-options kbd:before { content: ''; }
#keystroke-options kbd { padding-right: 1rem; }
#keystroke-options kbd:after { content: ''; }
@media (max-width: 600px) {
    kbd {
        display: none;
    }
}