#title-md5 {
  padding: 1rem;
  color: rgba(245, 222, 179, .3);
  position: absolute;
  top: var(--page-margin-y);
  left: var(--page-margin-x);
}
body:not([data-mode=null]) {
  #title-md5 {
    top: unset;
    left: unset;
    bottom: var(--page-margin-y);
    right: var(--page-margin-x);
  }
}