#main-wonder-button:active, #main-wonder-button:focus {
  outline: thick solid var(--accent-color-main);
}
#main-wonder-button {
  position: absolute;
  top: 0;
  right: 0;
  background: #222;
  color: var(--accent-color-main);
  border: thin solid var(--standard-outline);
  padding: 0rem;
  width: 6rem;
  height: 4rem;
  line-height: 1.5rem;
  font-family: monospace;
}